.drawing-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;

  &__content {
    width: 50%;
    border-radius: 0 20px 20px 20px;
    background-color: var(--color-background-light);
    padding: 1rem;
  }

  &__img {
    width: 100%;
    min-height: 100px;
    height: auto;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
