<article class="drawing-result">
  <app-client-label
    [isRight]="false"
    [client]="albumEntry.client"
  ></app-client-label>
  <div class="drawing-result__content">
    <img
      [src]="albumEntry.content"
      class="drawing-result__img"
      *ngIf="albumEntry.content && albumEntry.content !== ''; else noDrawing"
    />
    <ng-template #noDrawing>
      <div class="drawing-result__img">Nothing was drawn ...</div>
    </ng-template>
  </div>
</article>
