.logo {
  width: 220px;
  display: block;
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &--top {
    position: absolute;
    left: 1.8rem;
    top: 1.3rem;
    width: 120px;
  }

  img {
    width: 100%;
  }
}
