<main class="game">
  <app-logo></app-logo>
  <app-timer class="game__timer"></app-timer>
  <app-story *ngIf="currentRound % 2 == 0; else drawingRound"></app-story>
  <ng-template #drawingRound>
    <app-drawing></app-drawing>
  </ng-template>
</main>
