.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-background-light);
  text-align: center;

  .result-img {
    width: 50vw;
    height: 30vw;
    border: 3px solid #000;
    margin-top: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__timer {
    position: absolute;
    right: 1.8rem;
    top: 1.3rem;
  }
}
