<canvas class="canvas" #canvas [class.no-edit]="isDone"></canvas>

<div class="colors" [class.no-edit]="isDone">
  <div *ngFor="let color of colors; let i = index" class="colors__color">
    <input
      [id]="'color' + i"
      class="colors__input"
      type="radio"
      [value]="color"
      [(ngModel)]="selectedColor"
      hidden
    />
    <label
      class="colors__item"
      [ngStyle]="{ backgroundColor: color }"
      [for]="'color' + i"
    ></label>
  </div>
</div>
<div class="buttons">
  <button class="clear__button btn--primary" (click)="clearCanvas()">
    Clear Canvas
  </button>

  <button
    *ngIf="!isDone"
    [disabled]="gameManagerService.timeLeft - 250 <= 0"
    (click)="emitDone()"
    class="btn--secondary"
  >
    Done!
  </button>
  <button
    *ngIf="isDone"
    [disabled]="gameManagerService.timeLeft - 250 <= 0"
    (click)="emitEdit()"
    class="btn--primary"
  >
    Edit!
  </button>
</div>
