.colors {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;

  &__color + .colors__color {
    margin-left: 0.5rem;
  }

  &__item {
    display: block;
    width: 42px;
    height: 42px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__input:checked + .colors__item {
    opacity: 1;
    transform: scale(1.1);
  }
}

.clear__button {
  &:active {
    opacity: 0.8;
  }
}

.canvas {
  background-color: white;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.no-edit {
  pointer-events: none;
}
