.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-size: auto 162px;
  background-position: center bottom;
  background-color: var(--color-background-light);
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background-size 0.15s ease-in-out;

  &:hover {
    background-size: auto 170px;
  }
}
