<div class="client-label" [class.client-label--left]="!isRight">
  <div class="client-label__name">{{ client.name }}</div>
  <div
    class="client-label__image"
    [ngStyle]="{ backgroundImage: 'url(' + client.image + ')' }"
  ></div>
</div>
