.client-label {
  background-color: var(--color-primary);
  color: white;
  border-radius: 100px;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &--left {
    flex-direction: row-reverse;
    padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  }

  &__image {
    width: 30px;
    height: 30px;
    background-color: var(--color-background-light);
    border-radius: 50%;
    overflow: hidden;
    background-size: auto 85%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
