/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/Montserrat-Regular/montserrat-v15-latin-regular.woff2")
      format("woff2"),
    url("/assets/fonts/Montserrat-Regular/montserrat-v15-latin-regular.woff")
      format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/assets/fonts/Montserrat-Semibold/montserrat-v15-latin-600.woff2")
      format("woff2"),
    url("/assets/fonts/Montserrat-Semibold/montserrat-v15-latin-600.woff")
      format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/Montserrat-Bold/montserrat-v15-latin-700.woff2")
      format("woff2"),
    url("/assets/fonts/Montserrat-Bold/montserrat-v15-latin-700.woff")
      format("woff");
}
