body {
  font-size: var(--font-size-default);
  font-family: var(--font-family);
  font-weight: var(--font-weight-default);
  margin: 0;
  color: var(--color-primary-dark);
  line-height: 1.2;
}

.btn--primary,
.btn--secondary {
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  width: 300px;
  padding: 0.725rem 1rem;
  border-radius: 100px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.btn--primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn--secondary {
  background-color: var(--color-secondary);

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.input--outline {
  font-family: var(--font-family);
  width: 300px;
  padding: 0.6rem 1.5rem;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  color: var(--color-primary);
  font-size: var(--font-size-default);
  background-color: transparent;

  &::placeholder {
    color: var(--color-primary-light);
  }

  &:focus {
    outline: none;
  }
}

input:read-only {
  cursor: default;
}
