:root {
  --color-primary: #1b4076;
  --color-primary-light: #738bae;
  --color-primary-dark: #16386b;
  --color-secondary: #8e2da8;
  --color-secondary-light: #c080d1;
  --color-secondary-dark: #81259b;
  --color-background-light: #ecf1f8;
  --color-success-light: #c4f9c6;
  --color-success-dark: #3f974f;
  --color-error-light: #ffd3d7;
  --color-error-dark: #d81b60;
  --font-family: "Montserrat";
  --font-family-semibold: "Montserrat Semibold";
  --font-family-bold: "Montserrat Bold";
  --font-weight-default: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-default: calc(16rem / 16);
  --font-size-small: calc(14rem / 16);
  --font-size-big: calc(18rem / 16);
  --border-radius: 20px;
}
