<main class="split-layout">
  <section class="split-layout__left">
    <app-logo [isCentered]="hasCenteredLogo"></app-logo>
    <ng-content select="[left]"> </ng-content>
  </section>
  <section class="split-layout__right">
    <ng-content select="[right]"> </ng-content>
  </section>
</main>
