.split-layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

  &__left {
    background-color: var(--color-background-light);
    width: 38%;
    min-width: 38%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
