<app-split-layout>
  <ng-container left>
    <app-player-list></app-player-list>
  </ng-container>
  <ng-container right>
    <img src="/assets/images/telephone.svg" class="lobby__image" />
    <h2 class="lobby__title">How to play?</h2>
    <div class="lobby__text">
      At first, each player must write a quirky sentence. Every player then
      receives a bizzare sentence to draw. In the next round, try to describe
      one of the crazy drawings.
    </div>
    <div class="lobby__buttons">
      <button (click)="copyLinkToClipboard()" class="btn--primary">
        Copy Link
      </button>
      <button
        (click)="startGame()"
        class="btn--secondary"
        *ngIf="client?.isHost; else waiting"
      >
        Start Game
      </button>
      <ng-template #waiting>
        <div *ngIf="!client?.isHost" class="lobby__waiting">
          Waiting for the host to start the game ...
        </div>
      </ng-template>
    </div>
  </ng-container>
</app-split-layout>
