.lobby {
  &__image {
    width: 150px;
    height: auto;
  }

  &__text {
    margin: 0 auto 2rem;
    max-width: 70%;
    text-align: center;
    line-height: 1.4;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  &__waiting {
    color: var(--color-secondary-light);
    margin-top: 2rem;
  }
}
