<app-split-layout>
  <app-player-list
    left
    [highlightedPlayer]="currentClientIndex"
  ></app-player-list>
  <div right class="results">
    <div *ngIf="!currentAlbum; else albumEntries">
      <h2>Nice, You are finished!</h2>
      <div class="results__text">
        Now see what happened and watch the hilarious results of the telephone
        game.
      </div>
      <button
        class="btn--secondary"
        (click)="showNextAlbum()"
        *ngIf="client?.isHost"
      >
        Show results
      </button>
      <div *ngIf="!client?.isHost" class="results__waiting">
        Waiting for the host to start the exhibition ...
      </div>
    </div>
    <ng-template #albumEntries>
      <div class="results__entries">
        <ng-container
          *ngFor="
            let albumEntry of albumEntriesToShow;
            let i = index;
            trackBy: trackById
          "
        >
          <app-story-result
            [albumEntry]="albumEntry"
            *ngIf="i % 2 == 0; else drawingResult"
          ></app-story-result>
          <ng-template #drawingResult>
            <app-drawing-result [albumEntry]="albumEntry"></app-drawing-result>
          </ng-template>
        </ng-container>
        <div class="results__buttons">
          <button
            appDebounceClick
            class="btn--primary"
            (debounceClick)="showPreviousAlbum()"
            *ngIf="
              client?.isHost && albumEntriesToShow.length == currentAlbum.length
            "
            [disabled]="currentClientIndex < 1"
          >
            Previous album
          </button>
          <button
            appDebounceClick
            class="btn--secondary"
            (debounceClick)="showNextAlbum()"
            *ngIf="
              client?.isHost && albumEntriesToShow.length == currentAlbum.length
            "
            [disabled]="currentClientIndex >= clients.length - 1"
          >
            Next album
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</app-split-layout>
