.results {
  min-width: 100%;
  text-align: center;

  &__entries {
    min-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 2.5rem;
    box-sizing: border-box;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__text {
    margin: 0 auto 2rem;
    max-width: 70%;
    text-align: center;
    line-height: 1.4;
  }

  &__waiting {
    color: var(--color-secondary-light);
    margin-top: 2rem;
  }
}
