<h2 class="player-list__title">Players</h2>
<ul class="player-list">
  <li
    *ngFor="let client of clients$ | async; let i = index; trackBy: trackById"
    class="player-list__item"
    [class.player-list__item--highlighted]="i === highlightedPlayer"
  >
    <div
      class="player-list__image"
      [ngStyle]="{ backgroundImage: 'url(' + client.image + ')' }"
    ></div>
    <h3 class="player-list__name">{{ client.name }}</h3>
    <div
      *ngIf="client.isHost"
      class="player-list__crown"
      [class.player-list__crown--highlighted]="i === highlightedPlayer"
    >
      <div
        class="player-list__mask"
        [class.player-list__mask--highlighted]="i === highlightedPlayer"
      ></div>
    </div>
  </li>
</ul>
