:host {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 2.5rem 2.5rem;
  box-sizing: border-box;
}

.player-list {
  list-style: none;
  padding: 0;

  &__title {
    font-size: calc(20rem / 16);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__item {
    padding: 0.7rem 1.3rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight-bold);
    transition: background-color 0.2s;

    + .player-list__item {
      margin-top: 0.8rem;
    }

    &--highlighted {
      background-color: var(--color-secondary);
      color: white;
    }
  }

  &__image {
    width: 50px;
    height: 50px;
    background-color: var(--color-background-light);
    border-radius: 50%;
    overflow: hidden;
    background-size: auto 85%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  &__name {
    margin-left: 1rem;
  }

  &__crown {
    margin-left: auto;
    padding-bottom: 1px;
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &--highlighted {
      border-color: white;
    }
  }

  &__mask {
    width: 22px;
    height: 22px;
    mask-image: url("/assets/images/crown.svg");
    background-color: var(--color-primary);

    &--highlighted {
      background-color: white;
    }
  }
}
