<article class="story-result">
  <app-client-label [client]="albumEntry.client"></app-client-label>
  <div class="story-result__content">
    {{
      albumEntry.content && albumEntry.content !== ""
        ? albumEntry.content
        : "..."
    }}
  </div>
</article>
