.story-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;

  &__content {
    max-width: 100%;
    border-radius: 20px 0 20px 20px;
    background-color: var(--color-background-light);
    padding: 1rem;
  }
}
