<h2 class="drawing__title">Time to draw!</h2>

<p class="drawing__story">
  {{
    albumEntry?.content && albumEntry?.content !== ""
      ? albumEntry?.content
      : "Unfortunately, the previous player didn't write a story."
  }}
</p>
<app-drawing-editor
  (drawingChanged)="updateDrawing($event)"
  (drawingDone)="done()"
  (editDrawing)="edit()"
></app-drawing-editor>
