.story {
  &__title {
    margin-top: 0;
  }

  &__img {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;

    image {
      width: 100%;
      height: auto;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 50vw;
  }

  &__input {
    flex-grow: 1;
  }

  &__help {
    margin: 1rem 0 2rem;
  }

  &__btn--small {
    min-width: 200px;
    width: 200px;
  }
}
