<h2 class="story__title" *ngIf="albumEntry">Describe this scene!</h2>
<div class="story__img" *ngIf="albumEntry; else firstRound">
  <img
    [src]="albumEntry.content"
    alt="drawing"
    *ngIf="albumEntry.content && albumEntry.content !== ''; else nothingDrawn"
  />
  <ng-template #nothingDrawn>
    <div>Oups! Unfortunately, nothing was drawn ...</div>
  </ng-template>
</div>
<ng-template #firstRound>
  <h2 class="story__help">Go ahead and start a nice story!</h2>
</ng-template>
<div class="story__row">
  <form class="story__row">
    <input
      class="story__input input--outline"
      placeholder="Enter you story here ..."
      [(ngModel)]="story"
      name="story"
      required
      minlength="3"
      [readonly]="isDone"
    />
    <button
      *ngIf="!isDone"
      [disabled]="gameManagerService.timeLeft - 250 <= 0"
      (click)="done()"
      class="story__btn--small btn--secondary"
    >
      Done!
    </button>
  </form>
  <button
    *ngIf="isDone"
    [disabled]="gameManagerService.timeLeft - 250 <= 0"
    (click)="edit()"
    class="story__btn--small btn--primary"
  >
    Edit!
  </button>
</div>
