.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  p {
    max-width: 50vw;
    line-height: 1.5;
    margin: 0 0 1.5rem;
  }
}
