<main class="not-found">
  <h1>Oups!</h1>
  <p>
    The game you were looking for could not be found. It was probably removed or
    did not exist in the first place.
  </p>
  <button class="btn--secondary" [routerLink]="['/']">Start page</button>
</main>
