.notification {
  position: absolute;
  top: 1rem;
  left: 50%;
  border-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  min-width: 50vw;
  z-index: 999;
  transform: translateX(-50%) translateY(0);
  transition: 0.3s;

  &.hidden {
    transform: translateX(-50%) translateY(-50px);
    opacity: 0;
    pointer-events: none;
  }

  &.success {
    color: var(--color-success-dark);
    background: var(--color-success-light);
  }

  &.error {
    color: var(--color-error-dark);
    background: var(--color-error-light);
  }
}
