.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 38px;
    padding: 1.2rem;
    height: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    z-index: 0;
    border-radius: 50%;
  }
}

circle-progress {
  z-index: 99;
}
