<div class="home">
  <app-split-layout [hasCenteredLogo]="true">
    <ng-container right>
      <app-avatar (avatarChanged)="setAvatar($event)"></app-avatar>
      <form class="home__form" (ngSubmit)="startOrJoinGame()">
        <span *ngIf="name.invalid && name.touched">
          <div *ngIf="name.errors?.required">Name is required.</div>
          <div *ngIf="name.errors?.minlength">
            Nickname must be at least
            {{ name.errors?.minlength.requiredLength }} characters long.
          </div>
        </span>
        <input
          class="input--outline"
          placeholder="Nickname"
          [(ngModel)]="nickname"
          name="nickname"
          required
          minlength="3"
          #name="ngModel"
        />
        <button class="btn--secondary" [disabled]="name.invalid">
          <ng-container *ngIf="roomId; else noRoom">Join Game</ng-container>
          <ng-template #noRoom>Start Game</ng-template>
        </button>
      </form>
    </ng-container>
  </app-split-layout>
</div>
